/* line 17, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'pompiere';
  src: url("../../fonts/pompiere-regular-webfont.eot");
  src: url("../../fonts/pompiere-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/pompiere-regular-webfont.woff") format("woff"), url("../../fonts/pompiere-regular-webfont.ttf") format("truetype"), url("../../fonts/pompiere-regular-webfont.svg#ashbury_light") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'pompiere';
    src: url("../../fonts/pompiere-regular-webfont.svg#ashbury_light") format("svg");
}
}
/* line 21, ../sass/_typography.scss */
body {
  font-size: 12px;
}

/* line 25, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6, p {
  line-height: 1.45;
}

/* line 29, ../sass/_typography.scss */
h1 {
  font-size: 4em;
}

/* line 30, ../sass/_typography.scss */
h2 {
  font-size: 4em;
}

/* line 31, ../sass/_typography.scss */
h3 {
  font-size: 3em;
}

/* line 32, ../sass/_typography.scss */
h4 {
  font-size: 2em;
}

/* line 33, ../sass/_typography.scss */
h5 {
  font-size: 1.5em;
}

/* line 34, ../sass/_typography.scss */
h6 {
  font-size: 1em;
}

/* line 35, ../sass/_typography.scss */
p {
  font-size: 1em;
}

/* line 39, ../sass/_typography.scss */
h1 {
  font-family: "pompiere", "verdana", "arial";
}

/* line 43, ../sass/_typography.scss */
h2 {
  font-family: "georgia", "palatino linotype", "serif";
}

/* line 47, ../sass/_typography.scss */
h3 {
  font-family: "pompiere", "verdana", "arial";
  text-align: center;
  border-bottom: 1px solid #5b5b5b;
  width: 80%;
  margin: 0 10% 8% 10%;
}

/* line 55, ../sass/_typography.scss */
p {
  font-family: "georgia", "palatino linotype", "serif";
  font-style: italic;
}

/* line 63, ../sass/_typography.scss */
.content a, .hidden-box a {
  color: #53777a;
  text-decoration: none;
  border-bottom: 1px solid #53777a;
}
/* line 68, ../sass/_typography.scss */
.content a:hover, .hidden-box a:hover {
  color: #c02942;
  border-bottom: 1px solid #c02942;
}

/* line 3, ../sass/_content.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../sass/_content.scss */
html, body {
  height: 100%;
  background-color: white;
  color: #5b5b5b;
  font-family: 'verdana';
}

/* line 12, ../sass/_mixins.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 16, ../sass/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 22, ../sass/_content.scss */
.main-header {
  text-align: center;
  padding-top: 2em;
}

/* line 29, ../sass/_content.scss */
.codeivate {
  position: relative;
  width: 250px;
  top: 50%;
  left: 50%;
  margin: 30px 0 0 -125px;
}

/* line 47, ../sass/_content.scss */
.content {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}

/* line 55, ../sass/_content.scss */
.push {
  height: 40px;
}

/* line 59, ../sass/_content.scss */
.sticky {
  height: 40px;
  clear: both;
  position: relative;
}

/* line 5, ../sass/_sprites.scss */
.sprite-character {
  background-image: url("../../images/sprites/sprite.png");
  width: 168px;
  height: 180px;
  background-position: 0 0;
  background-size: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  margin: 42px 0 0 -84px;
  background-repeat: no-repeat;
  display: none;
}

/* line 19, ../sass/_sprites.scss */
.sprite-character-flow {
  background-image: url("../../images/sprites/sprite-flow.png");
}

/* line 23, ../sass/_sprites.scss */
.sprite-character-programming {
  background-image: url("../../images/sprites/sprite-programming.png");
}

/* line 27, ../sass/_sprites.scss */
i.sprite-info {
  display: inline-block;
  height: 16px;
  width: 8px;
  background-image: url('/images/sprites-sdb79178859.png');
  background-position: 0 -1556px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 39, ../sass/functions/_sprite-generator.scss */
  i.sprite-info {
    background-image: url('/images/sprites-retina-s92dbf8ec85.png');
    background-position: 0 -785px;
    -webkit-background-size: 241px auto;
    -moz-background-size: 241px auto;
    -o-background-size: 241px auto;
    background-size: 241px auto;
  }
}

/* line 32, ../sass/_sprites.scss */
i.sprite-exit {
  display: inline-block;
  height: 14px;
  width: 14px;
  background-image: url('/images/sprites-sdb79178859.png');
  background-position: 0 -1542px;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  /* line 39, ../sass/functions/_sprite-generator.scss */
  i.sprite-exit {
    background-image: url('/images/sprites-retina-s92dbf8ec85.png');
    background-position: 0 -771px;
    -webkit-background-size: 241px auto;
    -moz-background-size: 241px auto;
    -o-background-size: 241px auto;
    background-size: 241px auto;
  }
}

/* line 1, ../sass/_chart.scss */
.chart {
  position: absolute;
  width: 250px;
  height: 250px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* line 12, ../sass/_chart.scss */
.donut-tooltip {
  position: absolute;
  width: 100%;
  top: 75%;
  color: #5b5b5b;
  font-family: "georgia", "palatino linotype", "serif";
  font-style: italic;
  font-size: 17px;
  text-transform: lowercase;
  text-align: center;
  line-height: 1.3;
  letter-spacing: .06em;
  -webkit-transform: all .3s;
  -moz-transform: all .3s;
  -ms-transform: all .3s;
  -o-transform: all .3s;
  transform: all .3s;
  pointer-events: none;
}

/* line 33, ../sass/_chart.scss */
.donut-summary {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #D5D5D5;
  text-align: center;
  text-shadow: 0 -1px 0 #111;
  cursor: default;
}

/* line 43, ../sass/_chart.scss */
.donut-summary-title {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -27%;
  font-size: 22px;
  letter-spacing: .06em;
}

/* line 53, ../sass/_chart.scss */
.donut-summary-number {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -15%;
  font-size: 55px;
}

/* line 61, ../sass/_chart.scss */
g path {
  opacity: 1;
  transition: opacity .2s ease-out;
  -moz-transition: opacity .2s ease-out;
  -webkit-transition: opacity .2s ease-out;
  -o-transition: opacity .2s ease-out;
}

/* line 68, ../sass/_chart.scss */
g path:hover {
  opacity: .65;
}

/* line 72, ../sass/_chart.scss */
g path[data-active="true"] {
  -webkit-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes pulsate {
  /* line 78, ../sass/_chart.scss */
  0% {
    opacity: 0.3;
  }

  /* line 79, ../sass/_chart.scss */
  30% {
    opacity: 1.0;
  }

  /* line 80, ../sass/_chart.scss */
  70% {
    opacity: 1.0;
  }

  /* line 81, ../sass/_chart.scss */
  100% {
    opacity: 0.3;
  }
}

/* line 84, ../sass/_chart.scss */
#js-character .char-tooltip {
  display: none;
  position: absolute;
  z-index: 210;
  font-family: "pompiere", "verdana", "arial";
  font-size: 20px;
  top: 70%;
  text-align: center;
  letter-spacing: .06em;
  line-height: 1.3;
  max-width: 200px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #DDD;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-transform: all .3s;
  -moz-transform: all .3s;
  -ms-transform: all .3s;
  -o-transform: all .3s;
  transform: all .3s;
  pointer-events: none;
}
/* line 106, ../sass/_chart.scss */
#js-character .char-tooltip:after {
  position: absolute;
  left: 50%;
  bottom: -6px;
  content: "";
  height: 0;
  margin: 0 0 0 -6px;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.8);
  line-height: 0;
}

/* line 1, ../sass/_footer.scss */
footer {
  background: #73626e;
  position: relative;
  z-index: 3;
}
/* line 6, ../sass/_footer.scss */
footer a {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
}
/* line 12, ../sass/_footer.scss */
footer a:hover {
  background: #8e7a88;
}
/* line 16, ../sass/_footer.scss */
footer a i {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -6px;
}
/* line 25, ../sass/_footer.scss */
footer a i.sprite-exit {
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -8px;
}

/* line 33, ../sass/_footer.scss */
.hidden-box {
  display: none;
  position: absolute;
  width: 100%;
  height: 93%;
  bottom: 7%;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
}
/* line 42, ../sass/_footer.scss */
.hidden-box p {
  font-size: 1.2em;
  margin-bottom: 20px;
}
