//====>>	Main content styling

*, *:before, *:after {
    -moz-box-sizing    : border-box;
    -webkit-box-sizing : border-box;
    box-sizing         : border-box;
}

html, body {
    height           : 100%;
    background-color : $bg;
    color            : $text;
    font-family      : 'verdana';
}

.clearfix {
    @include clearfix;
}

//====>>	Header

.main-header {
    text-align: center;
    padding-top: 2em;
}

//====>>	Content

.codeivate {
    position : relative;
    width    : 250px;
    height: 280px;
    top      : 50%;
    left     : 50%;
    margin   : 30px 0 0 -125px;
}


// This is a sticky footer if you would like to use it!
// Note that it needs to follow the HTML below
// ====================================================
// <div class="content">
// 	<div class="push"></div>
// </div>
// <div class="sticky"></div>
// ====================================================

.content {
    clear         : both;
    min-height    : 100%;
    height        : auto !important;
    height        : 100%;
    margin-bottom : -40px;
}

.push {
    height : 40px;
}

.sticky {
    height   : 40px;
    clear    : both;
    position : relative;
}