//==========================================================================================
//				Sprite and Retina Sprite Generator - use filename as variable
//==========================================================================================

.sprite-character {
    background-image: url('../../images/sprites/sprite.png');
    width: 315px;
    height: 330px;
//    padding-bottom: 37%;
    background-position: 0 0;
    background-size: 100%;
    display: block;
    top: 52%;
    left     : 50%;
    position: absolute;
    margin: -130px 0 0 -160px;
//    max-width: 315px;
//    max-height: 330px;
    background-repeat: no-repeat;
}
