//====>> COLOURS

$text : #5B5B5B;
$link : #53777A;
$link-hover: #C02942;
$bg : #FFFFFF;

$chart-yellow: #ECD078;
$chart-orange: #D95B43;
$chart-red: #C02942;
$chart-purple: #542437;
$chart-blue: #53777A;

//====>> FONTS

$sans-serif : 'pompiere', 'verdana', 'arial';
$serif : 'georgia', 'palatino linotype', 'serif';
