//====>> COLOURS

$text : #5B5B5B;
$link : #53777A;
$link-hover: #C02942;
$bg : #FFFFFF;

$border: #b6b6b6;

$error: #af4b4b;

$chart-yellow: #ECD078;
$chart-orange: #D95B43;
$chart-red: #C02942;
$chart-purple: #542437;
$chart-blue: #53777A;

$footer-bg: #73626E;

//====>> FONTS

$sans-serif : 'pompiere', 'verdana', 'arial';
$serif : 'georgia', 'palatino linotype', 'serif';

//====>> LAYERS

$lvl-bg: 1;
$lvl-body: 2;
$lvl-nav: 3;
$lvl-lightbox: 4;
